<div>


    <div class="glavni">

      <div class="polje">
          <div class="labela">
            <label>Name:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subject.name" placeholder="Name" #name>
          </div>
      </div>
      <div class="polje">
        <div class="labela">
          <label>Surname:</label>
        </div>
        <div class="unos">
          <input type="text" [(ngModel)]="subject.surname" placeholder="Surname" #surname>
        </div>
      </div>
      <div class="polje">
        <div class="labela">
          <label>Organization:</label>
        </div>
        <div class="unos">
          <input type="text" [(ngModel)]="subject.organization" placeholder="Organization" #org>
        </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>State:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subject.state" placeholder="State" #state>
          </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>Email:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subject.email" placeholder="Email" #email>
          </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>Password:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subject.password" placeholder="Password" #pass>
          </div>
          </div>
          <div class="polje">
            <div class="labela">
              <label>Serial number:</label>
            </div>
            <div class="unos">
              <input type="text" [(ngModel)]="subject.serialnumber" placeholder="Serial Number" #sernum> 
            </div>
          </div>
          <div class="polje">
            <div class="labela">
              <label>Optional company name:</label>
            </div>
            <div class="unos">
              <input type="text" [(ngModel)]="subject.optionalCompanyName" placeholder="Optional Company Name" #company>
            </div>
          </div>
          <div class="polje">
            <div class="labela">
              <label>Start date:</label>
            </div>
            <div class="unos">
              <input type="text" [(ngModel)]="subject.startDate" placeholder="yyyy-mm-dd" #sdate>
            </div>
          </div>
          <div class="polje">
            <div class="labela">
              <label>End date:</label>
            </div>
            <div class="unos">
              <input type="text" [(ngModel)]="subject.endDate" placeholder="yyyy-mm-dd" #edate>
            </div>
          </div>

          <div>
            <button (click)="addSelfSigned(); name.value=''; surname.value=''; org.value=''; state.value=''; email.value=''; pass.value=''; sernum.value=''; company.value=''; sdate.value=''; edate.value=''; " class="buttonOk">Ok</button>
          </div>

    </div>


</div>