.glavni{
    width: 600px;
    height: 700px;
    border: 1px solid black;
    margin-left: 370px;
    margin-top: 30px;
}

.polje{
    width: 500px;
    height: 60px;

    margin-left: 25px;
    
}

.labela{
    width: 190px;
    font-size: 1.1em;
    margin-top: 20px;
    display: inline-block;
}

.unos{
    margin-top: 20px;
    display: inline-block;
}

.buttonOk{
    font-size: 1.1em;
    margin-left: 300px;
    margin-top: 30px;
}