<div>


  <div class="glavni">

    <div class="polje">
        <div class="labela">
          <label>Name:</label>
        </div>
        <div class="unos">
          <input type="text" [(ngModel)]="subjectIssuer.name" placeholder="Name">
        </div>
    </div>
    <div class="polje">
      <div class="labela">
        <label>Surname:</label>
      </div>
      <div class="unos">
        <input type="text" [(ngModel)]="subjectIssuer.surname" placeholder="Surname">
      </div>
    </div>
    <div class="polje">
      <div class="labela">
        <label>Organization:</label>
      </div>
      <div class="unos">
        <input type="text" [(ngModel)]="subjectIssuer.organization" placeholder="Organization">
      </div>
      </div>
      <div class="polje">
        <div class="labela">
          <label>State:</label>
        </div>
        <div class="unos">
          <input type="text" [(ngModel)]="subjectIssuer.state" placeholder="State">
        </div>
      </div>
      <div class="polje">
        <div class="labela">
          <label>Email:</label>
        </div>
        <div class="unos">
          <input type="text" [(ngModel)]="subjectIssuer.email" placeholder="Email">
        </div>
      </div>
      <div class="polje">
        <div class="labela">
          <label>Password:</label>
        </div>
        <div class="unos">
          <input type="text" [(ngModel)]="subjectIssuer.password" placeholder="Password">
        </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>Serial number:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subjectIssuer.serialnumber" placeholder="Serial Number"> 
          </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>Optional company name:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subjectIssuer.optionalCompanyName" placeholder="Optional Company Name">
          </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>Start date:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subjectIssuer.startDate" placeholder="yyyy-mm-dd">
          </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>End date:</label>
          </div>
          <div class="unos">
            <input type="text" [(ngModel)]="subjectIssuer.endDate" placeholder="yyyy-mm-dd">
          </div>
        </div>
        <div class="polje">
          <div class="labela">
            <label>Issuer:</label>
          </div>
          <div class="unos">
            <select (change)="selectChangeHandler($event)" name="isuer" id="issuer">
                <option value="" selected hidden>Choose issuer</option>
                <option *ngFor="let iss of sscertificate" value="{{iss.id}}">{{iss.subjectalias}}</option>
            </select>
          </div>
        </div>




        <div>
          <button (click)="addSignedSer()"  class="buttonOk">Ok</button>
        </div>

  </div>


</div>
